:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    height: 90px;
    background: linear-gradient(214.02deg, rgba(0, 0, 0, 0.5) 6.04%, rgba(0, 0, 0, 0.5) 92.95%);
    margin: auto;
    display: flex;
    align-items: center;
}

.header nav {
    position: absolute;
    right: 0;
}

.header .logo {
    margin-left: 87px;
    height: 40px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.3px;
}

.header li {
    list-style: none;
}

.header li + li + li {
    margin-right: 5.5rem;
}

.header li a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.header li a:hover {
    text-shadow: 2px 2px 6px black;
    color: rgb(211, 211, 211);
}

.header li button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 6px black;
}

.header li button {
    width: 177px;
    height: 50px;
    border: none;
    background: linear-gradient(214.02deg, #000000 6.04%, #7F788A 92.95%);
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.3px;
    color: white;
    margin-right: 3.3rem;
    transition: .3s;
}

#btnMobile {
    display: none;
}

.mainSection {
    width: 100%;
    height: 965px;
}

.mainSection h1 {
    margin: 62px auto 48px;
    max-width: 1102px;
    font-size: 5rem;
    text-align: center;
}

.mainSection h1 span {
    background: linear-gradient(214.02deg, #847C92 6.04%, #524D5B 92.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.languages-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    background: linear-gradient(214.02deg, #000000 6.04%, #6C7885 92.95%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    color: white;
}

.languages-wrapper h1, .languages-wrapper span {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.languages-wrapper span {
    display: block;
}

.myPicture {
    position: relative;
    display: flex;
    justify-content: center;
}

.first {
    margin: 13rem 1.5rem 0 1rem;
}

.second {
    margin: 43.5rem 1rem 0 0;
}

.main-section-pic-bg {
    position: absolute;
    top: 5rem;
    left: 20.5rem;
    z-index: -1;
}

.socialSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 100%;
    height: 135px;
    background: #181E41;
}

.socialSection img {
    transition: .4s;
}

.socialSection img:hover {
    transform: scale(1.1);
}

.aboutSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    background: linear-gradient(214.02deg, rgba(0, 0, 0, 0.5) 6.04%, rgba(0, 0, 0, 0.5) 92.95%);
}

.text-wrapper {
    display: flex;
    margin: 7rem auto 0;
    gap: 6.5rem;
    max-width: 130rem;
    max-height: 324px;
}

.text-wrapper h1 {
    display: inline-block;
    max-width: 321px;
    height: 240px;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    color: white;
    letter-spacing: 0.3px;
}

.text-wrapper p {
    color: white;
    display: inline-block;
    max-width: 913px;
    height: 324px;
    font-weight: 500;
    font-size: 30px;
    line-height: 180%;
    letter-spacing: 0.3px;
}

.text-wrapper span {
    display: inline-flex;
    margin-top: 6.2rem;
}

.boxes-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 19rem;
    max-width: 1321px;
    height: 130px;
}

.boxes-wrapper h3 {
    padding: 20px 30px;
    background: linear-gradient(214.02deg, #201E21 6.04%, #5E546D 92.95%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 180%;
    letter-spacing: 0.3px;
}

.boxes-wrapper h4 {
    max-width: 160px;
    height: 72px;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
}

.boxes-wrapper h3, .boxes-wrapper h4 {
    display: inline-block;
    color: white;
}

.box1, .box2, .box3 {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.helpSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
}

.container {
    display: flex;
    gap: 2rem;
}

.card1, .card2 {
    text-align: center;
    color: white;
    max-width: 288px;
    height: 460px;
    background: linear-gradient(214.02deg, #000000 6.04%, #55496A 92.95%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card1 img {
    margin-top: 9.5rem;
}

.card2 img {
    margin-top: 10.5rem;
}

.card2 {
    background: linear-gradient(214.02deg, #A999B6 6.04%, #000000 92.95%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card1 h2, .card2 h2 {
    max-width: 213px;
    font-size: 3rem;
    font-weight: 700;
    margin: 1.5rem auto;
    text-align: center;
}

.card2 h2 {
    margin-top: 2.7rem;
}

.card1 p, .card2 p {
    max-width: 245px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
}

.card3 {
    margin-left: 14.5rem;
    max-width: 500px;
    height: 484px;  
}

.card3 h1 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
}

.card3 p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 2rem;
    line-height: 180%;
    margin: 2rem auto 0;
    max-width: 482px;
    text-align: center;
}

.card4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card4 img {
    display: inline-block;
}

.card4 h2 {
    font-weight: 500;
    font-size: 2rem;
}

.card4 span {
    font-weight: 300;
    font-size: 1.5rem;
}

.horizontal-line {
    max-width: 500px;
    height: 0px;
    border: 1px solid #000000;
    margin: 4rem 0;
}

.last-card {
    font-weight: 600;
    font-size: 2.5rem;
    max-width: 500px;
}

.last-card h2 {
    display: inline-block;
}

.last-card h2 + h2 {
    margin-left: 5rem;
}

.last-card p {
    text-align: center;
}

.quoteSection {
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: 640px;
    background: #181E41 no-repeat;
    background-image: url(./assets/quotebg.svg);
    color: white;
}

.quoteSection p.quote {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 10rem;
    line-height: 120%;
    margin-top: 7rem;
}

.quoteSection h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
}

.quoteSection h2 {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.quoteSection p.quote1 {
    margin: 1.5rem auto;
    padding: 0 2rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    max-width: 770px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 4rem;
    cursor: pointer;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.arrow.prev {
    left: 0rem;
    border-radius: 6px 0px 0px 6px;
}

.arrow.next {
    right: 0rem;
    border-radius: 0 6px 6px 0;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}

.projects h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 4rem;
}

.projects-slider {
    position: relative;
    max-width: 940px;
    width: 100%;
    margin: auto;

}

.projects-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    overflow-x: auto;
    padding: 2.4rem;
    gap: 2.4rem;
    cursor: grab;
    scroll-snap-type: x;
    scroll-padding-inline: 2.4rem;
    scroll-behavior: smooth;
}

.projects-wrapper::-webkit-scrollbar {
    display: none;
}

.projects-wrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.project-item {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.project-item img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.project-info {
    padding: 1.6rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.project-title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.project-title:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.project-description {
    color: #888;
}

.footer {
    width: 100%;
    min-height: 1014px;
    background: #000000;
}

.footer h1 {
    color: white;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    font-weight: 400;
    font-size: 50px;
    margin-top: 10rem;
}

.footer span {
    background: linear-gradient(214.02deg, #865CFF 6.04%, #1A9BE4 92.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-1-container-mobile {
    display: none;
}

.column-1-container, .column-2-container {
    position: relative;
    width: 500px;
    max-width: 50rem;
    height: 424px;
    margin-top: 50px;
}

.column-2-container input, .column-2-container button {
    position: absolute;
    right: 0;
}

.column-2-container button, .column-1-container-mobile button {
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background: linear-gradient(214.02deg, #5E546D 6.04%, #000000 57.64%, #514D4D 89.78%);
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.column-2-container button:hover, .column-1-container-mobile button:hover {
    background: linear-gradient(214.02deg, #ded9e6 6.04%, #3e3c3c 57.64%, #0b0707 89.78%);
}

input {
    display: block;
    width: 390px;
    height: 35px;
    border: none;
    margin-bottom: 10rem;
    background-color: black;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

textarea {
    width: 390px;
    background-color: black;
    border: none;
    resize: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 9rem;
}

.socialIcons img {
    transition: .3s;
}

.socialIcons img:hover {
    transform: scale(1.1);
}

.footer h4 {
    margin-top: 10rem;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 2rem;
}

@media screen and (max-width: 1310px) {
    .boxes-wrapper {
        gap: 10rem;
    }

    .text-wrapper {
        max-width: 100rem;
    }
    
    .text-wrapper h1 {
        font-size: 8rem;
    }

    .text-wrapper p {
        font-size: 2.4rem;
    }

    .card3 {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 1170px) {
    .boxes-wrapper h3 {
        font-size: 3rem;
    }

    .boxes-wrapper h4 {
        font-size: 2rem;
        width: 11rem;
    }
}

@media screen and (max-width: 1040px) {
    .mainSection h1 {
        max-width: 900px;
        padding: 0 2rem;
    }

    .helpSection {
        flex-direction: column-reverse;
        height: auto;
        padding: 10rem 0 13.5rem 0;
    }

    .helpSection .container {
        margin-top: 10rem;
        margin-bottom: 5rem;
        gap: 3rem;
    }

    .card3 {
        margin: auto;
    }

    .card4 {
        margin: 2rem auto;
    }

    .column-1-container {
        margin-left: 2rem;
    }

    .column-2-container{
        margin-right: 2rem;
    }

    .aboutSection {
        height: 72rem;
    }

    .aboutSection .text-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .text-wrapper h1 {
        max-width: 500px;
    }

    .text-wrapper p {
        max-width: 600px;
        font-size: 2rem;
        text-align: center;
    }

    .box1, .box2, .box3 {
        gap: 1rem;
    }

    .boxes-wrapper {
        gap: 3rem;
        margin: 10rem auto 0;
    }
    
}

@media screen and (max-width: 951px) { 
    .arrow {
        display: none;
    }

    .languages-wrapper {
        width: 200px;
        height: 70px;
    }

    .languages-wrapper h2, .languages-wrapper span {
        font-size: 1.6rem;
    }

    .myPicture img {
        width: auto;
        height: 80%;
    }

    .main-section-pic-bg {
        top: 5rem;
        left: 20rem;
        height: 270px;
    }

    .mainSection h1 {
        font-size: 3.7rem;
        max-width: 600px;
    }

    .mainSection {
        height: 80rem;
    }
}

@media screen and (max-width: 940px) {
    #btnMobile {
        display: block;
    }

    .header {
        justify-content: space-between;
    }

    .header nav {
        position: static;
        margin-right: 87px;
    }

    .header nav button {
        border: none;
        background: none;
    }

    #nav #list {
        display: block;
        visibility: hidden;
        height: 0px;
        gap: 2rem;
        position: absolute;
        width: 100%;
        z-index: 1000;
        top: 9rem;
        left: 0rem;
        margin: 0 auto;
        right: 0rem;
        text-align: center;
        background: rgb(128, 128, 127);
        overflow-y: hidden;
        transition: .6s;
    }

    #nav.active #list {
        visibility: visible;
        height: 250px;
    }

    #list li {
        padding: 2rem;
    }

    #list button {
        display: none;
    }
    #list li + li + li + li {
        display: none;
    }

    #list li + li + li {
        margin: 0;
    }

    #list a {
        padding: 2rem;
    }

    .bar1, .bar2, .bar3 {
        width: 3rem;
        height: 4px;
        opacity: 0.8;
        margin: 6px auto;
        transition: 0.4s;
        background-color: black;
     }
    
    #nav.active .bar1 {
        transform: translate(0, 10px) rotate(-45deg);
    }
      
    #nav.active .bar2 {
        opacity: 0;
    }
      
    #nav.active .bar3 {
        transform: translate(0, -10px) rotate(45deg);
    }
} 

@media screen and (max-width: 940px) {
    .aboutSection {
        height: 115rem;
    }

    .boxes-wrapper {
        margin-top: 35rem;
        flex-direction: column;
        gap: 0px;
    }

    .box1, .box2, .box3 {
        flex-direction: column;
        text-align: center;
    }

    .boxes-wrapper h4 {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 860px) {
    .column-1-container, .column-2-container {
        display: none;
    }

    .column-1-container-mobile {
        display: block;
        margin-top: 7rem;
    }

    .column-1-container-mobile button {
        margin: 7rem auto 0;
    }
}

@media screen and (max-width: 631px) {

    .mainSection {
        height: 84rem;
    }

    .first.languages-wrapper, .second.languages-wrapper {
        display: none;
    }

    .mainSection h1 {
        max-width: 50rem;
    }

    .footer h1 {
        font-size: 4rem;
        margin-top: 3rem
    }
}

@media screen and (max-width: 555px) {
    .quoteSection img {
        padding-bottom: 8.5rem;
    }
    
    .quoteSection {
        height: auto;
    }

    .helpSection {
        padding: 7rem 0 10.5rem;
    }

    .helpSection .container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .aboutSection span {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 499px) {
    
    .helpSection h1 {
        font-size: 4rem;
    }

    .last-card {
        text-align: center;
    }

    .last-card h2 {
        font-size: 2.5rem;
    }

    .main-section-pic-bg {
        display: none;
    }

    .aboutSection {
        height: 100rem;
    }

    .aboutSection h1 {
        font-size: 6rem;
    }

    .aboutSection p {
        font-size: 1.6rem;
        padding: 0 1rem;
    }

    .boxes-wrapper {
        margin-top: 26rem;
    }

    .text-wrapper {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 445px) {
    .mainSection {
        height: 90rem;
    }

    .header .logo, #nav {
        margin: 0 2rem 0 2rem;
    }

    .mainSection h1 {
        margin: 3rem auto;
    }
}

@media screen and (max-width: 420px) {
    input, textarea {
        width: 100%;
    }

    .boxes-wrapper {
        margin-top: 27rem;
    }

    .column-1-container-mobile {
        width: 95%;
    }

    .mainSection img {
        padding: 0 2rem;
    }

    .myPicture {
        width: 100%;
    }
}

@media screen and (max-width: 377px) {
    .helpSection .container {
        margin-top: 18rem;
    }
    
    .projects {
        height: auto;
    }

    .projects h1 {
        margin-top: 2.4rem;
        font-size: 4rem;
        padding: 0 2rem;
    }

    .last-card {
        display: flex;
        flex-direction: column;
    }

    .last-card h2 + h2 {
        margin: 0;
    }

    .myPicture img {
        width: 100%;
        height: 95%;
    }

    .mainSection {
        height: auto;
    }

    .mainSection h1 {
        font-size: 3.1rem;
    }

    .aboutSection h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 336px) {
    .boxes-wrapper {
        margin-top: 29rem;
    }

    .helpSection .container {
        margin-top: 20rem;
    }

    .aboutSection {
        height: 103rem;
    }

    .socialSection {
        gap: 3rem;
    }

    .footer h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .boxes-wrapper {
        margin-top: 31rem;
    }

        .helpSection .container {
        margin-top: 24rem;
    }
}